.card {
  background-color: var(--mantine-color-body);
}

.group {
  flex-direction: row;

  @media (max-width: 572px) {
    flex-direction: column;
  }
}

.imageWrapper {
  min-width: 200px;
  min-height: 120px;
  position: relative;
  align-self: stretch;
}

.title {
  font-weight: bold;
  font-family:
    Greycliff CF,
    var(--mantine-font-family);
  line-height: 1.2;
}

.body {
  padding: var(--mantine-spacing-md);
  flex-grow: 1;
}
