.root {
  padding-top: rem(40px);
  padding-bottom: rem(60px);
}

.label {
  color: var(--mantine-color-red-6);
  text-align: center;
  font-weight: 900;
}

.title {
  text-align: center;
  font-weight: 900;
  font-size: rem(38px);

  @media (max-width: $mantine-breakpoint-sm) {
    font-size: rem(32px);
  }
}

.description {
  max-width: rem(540px);
  margin: auto;
  margin-top: var(--mantine-spacing-lg);
  margin-bottom: calc(var(--mantine-spacing-md) * 1.5);
}
