// Import bootstrap framework
@import '~/node_modules/bootstrap/scss/bootstrap.scss';

// Import variables
@import 'variables/index';

// Import fonts
@import '~/node_modules/@fortawesome/fontawesome-free/css/all.min.css';

@font-face {
    font-family: 'IRANSansDN';
    font-style: normal;
    font-weight: 400;
    src: local('IRANSansDN'), url('https://fonts.cdnfonts.com/s/61730/iransansdn.woff') format('woff');
}

@font-face {
    font-family: 'IRANSansDN';
    font-style: normal;
    font-weight: 300;
    src: local('IRANSansDN'), url('https://fonts.cdnfonts.com/s/61730/Dastnevis IRSANS.woff') format('woff');
}

@font-face {
    font-family: 'IRANSansDN';
    font-style: normal;
    font-weight: 700;
    src: local('IRANSansDN'), url('https://fonts.cdnfonts.com/s/61730/iransansdnbold.woff') format('woff');
}

//====================================
// Additional theme classes
//====================================

// General
body {
    font-family: $font-family-sans-serif;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.6;
    color: $gray-900;
    background-color: $white;
    margin: 0;
    padding: 0;
}

// support rtl
[dir="rtl"] {
    body {
        font-family: $font-family-IRANSansDN;
    }

    // breadcrumbs
    .breadcrumb-item {
      // The separator between breadcrumbs (by default, a forward-slash: "/")
      + .breadcrumb-item {
        padding-right: var(--#{$prefix}breadcrumb-item-padding-x);
        padding-left: 0;
    
        &::before {
          float: right; // Suppress inline spacings and underlining of the separator
          padding-left: var(--#{$prefix}breadcrumb-item-padding-x);
          padding-right: 0;
          color: var(--#{$prefix}breadcrumb-divider-color);
          content: var(--#{$prefix}breadcrumb-divider, escape-svg($breadcrumb-divider)) #{"/* rtl:"} var(--#{$prefix}breadcrumb-divider, escape-svg($breadcrumb-divider-flipped)) #{"*/"};
        }
      }
    
      &.active {
        color: var(--#{$prefix}breadcrumb-item-active-color);
      }
    }
  
    // floating form
    .form-floating {
      > label {
        right: 0;
      }
  
      > .form-control:focus,
      > .form-control:not(:placeholder-shown),
      > .form-control-plaintext,
      > .form-select {
        ~ label {
          right: 0;
          transform: scale(0.85) translateY(-0.5rem) translateX(8.70rem)
        }
      }  
    }
  }

  .image-picker {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100px;
    height: 100px;
    position: relative;
    cursor: pointer;
    background-color: #eaeaea;
    background-position: center center;
    background-size: cover;
    box-shadow: inset 0 0 10px rgba(0, 0, 0, .1);
    outline: 2px solid #fff;
    outline-offset: -3px;
    border: var(--bs-border-width) solid var(--bs-border-color);
    border-radius: var(--bs-border-radius);
  
    .body {
      display: flex;
      flex-direction: column;
      align-items: center
    }
  
    .title {
      position: absolute;
      top: 0px;
      padding-top: 5px;
    }
  }
  
  
  .brick {
    display: block;
    width:100px; 
    height:100px; 
    background:#f2f2f2;
    position: relative;
    float: left;
    margin: 5px;
  
    img {
      display: block;
      font-family: sans-serif;
      font-weight: 300;
      height: auto;
      line-height: 2;
      position: relative;
      text-align: center;
      width: 100%;
    }
  
    .overlay {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(255, 255, 255, .5);
      display: none;
    }
  
    .actions {
      display: flex;
      justify-content: center;
      height: 100%;
      align-items: center;
    }
  
    &:hover {
      scale: 1.1;
  
      .overlay {
        display: block;	
      }
    }
  }
  
  .tile-picker {
    position:relative;
    cursor:pointer;
    background-color:#eaeaea;
    background-position: center center;
    background-size: cover;
    box-shadow:inset 0 0 10px rgba(0,0,0,.1);
    outline: 2px solid #fff;
    outline-offset: -3px;
    border:1px solid #bbb;
  
    &.active {
        outline-color: #33a7d2;
    }
  
    .tile-checked {
      display:block;
      font-style:normal;
      width:20px; height:20px;
      position:absolute;
      top:-2px;
      right:-4px;
      z-index: 99;
  
      &:after {
        content:'\2713';
        display:block;
        line-height:18px; width:18px; height:18px;
        background-color:#1481b8; color:#fff;
        border-radius:2px;
        font-size:13px;
        text-align:center; font-weight:bold;
        opacity:0;
      }
    }
  
    input[type=checkbox], input[type=radio] {
      opacity:0;
      position:absolute; 
      left:-80px;
  
      &:checked ~ .tile-checked:after {
          opacity:1;
      }
    }
  }

.sticky-top {
    top: 69.75px;
}
.secondfont, .navbar-brand {
    font-family: $font-secondary;
}

.navbar-brand {
    display: inline-block;
    padding-top: 0.68rem;
    padding-bottom: 0.68rem;
    margin-right: 1rem;
    font-size: 1.15rem;
    line-height: inherit;
    white-space: nowrap;
}

[dir="rtl"] {
    .secondfont, .navbar-brand {
        font-family: $font-family-IRANSansDN;
    }

    .navbar-brand {
        margin-right: 0;
        margin-left: var(--bs-navbar-brand-margin-end);
    }
}

img {
    max-width:100%;
}
.tofront {
    position:relative;
    z-index:1;
}
.full-width {
    width: 100vw;
    position: relative;
    margin-left: -50vw;
    left: 50%;
}
a, a:hover {transition: all .2s;}
a {
    color: $success;
    text-decoration: none;
}
a.text-dark:hover {
    color: $success !important;
}
.c-pointer:hover {
    cursor:pointer;
}
.z-index-1 {
    z-index:1;
}
// Typography

.display-3 {
    @include media-breakpoint-down(md) {
        font-size: 3.5rem;
    }
    @include media-breakpoint-down(sm) {
        font-size: 2rem;
    }
}


// Margins
.row.gap-y>.col, .row.gap-y>[class*="col-"] {
    padding-top: 15px;
    padding-bottom: 15px;
}
.mt-neg5 { 
    margin-top: -5rem;
}
.ml-neg5 {
    margin-left: -5rem;
}

// Heights
@include media-breakpoint-up(md) {
  .h-md-100-v {
    height: 100vh;
  }
  .h-md-100 {
    height: 100vh;
  }
}

@include media-breakpoint-only(xl) {
    .h-xl-300 { 
      height: 300px; 
    }
    .h-max-380 {
      max-height:380px;
    }
}

// Mixins
@mixin button-variant-link($color){
    color: $color;
}

// Buttons
.btn-round {
    border-radius: $round-radius !important;
}

.btn-link {
    &:hover,
    &:focus { 
        box-shadow:none;
    }
}

@each $color, $value in $theme-colors {
.btn-link.btn-#{$color} {
    @include button-variant-link($value);
    border-color: transparent;
  } 
}
.btn-white {background-color:$white;}
// Inputs
.input-round {
    border-radius: $round-radius !important;    
}
.input-group.input-round {
    input:first-child {border-radius:30px 0 0 30px}
    input:last-child {border-radius:0px 30px 30px 0px}
}


// Nav
.navbar {
    box-shadow:0 0px 1px 0 rgba(0, 0, 0, 0.05);
    transition: all .08s;
    font-weight: $font-weight-normal;
    .highlight .nav-link {color: $primary !important; border:1px solid $success; padding: 0.3rem 1rem;  border-radius: 3px;font-size:.93rem;}
    .highlight .nav-link:hover {background: $success; color:$white !important;}
}
.navbar-brand {
    font-size:1.25rem;
}
.dropdown-item {
    font-weight: $font-weight-base;
}
.dropdown-menu {
    border:0;
    text-transform:none;
    box-shadow: $box-shadow-lg;
    &:before {
        @include media-breakpoint-up(md) { 
            content: '';
            top: -8px;
            position: absolute;
            left: 50px;
            border-top: 16px solid $white;
            border-left: 16px solid $white;
            transform: rotate(45deg);
        }
    }
}

// Dark links against a light background
.navbar-light {
  .navbar-brand {
    color: $navbar-light-active-color;
  }

  .navbar-nav {
    .nav-link {
      color: $navbar-light-color;

      &.disabled {
        color: $navbar-light-disabled-color;
      }
    }

    .show > .nav-link,
    .active > .nav-link,
    .nav-link.show,
    .nav-link.active {
      color: $navbar-light-active-color;
    }
  }

  .navbar-toggler {
    color: $navbar-light-color;
    border-color: $navbar-light-toggler-border-color;
  }

  .navbar-toggler-icon {
    background-image: $navbar-light-toggler-icon-bg;
  }

  .navbar-text {
    color: $navbar-light-color;
    a {
      color: $navbar-light-active-color;
    }
  }
}

// SVG fills

@mixin fill-variant($parent, $color) {
  #{$parent} {
    fill: $color !important;
  }
}

@each $color, $value in $theme-colors {
  @include fill-variant(".bg-#{$color}", $value);
}

// hashtag

.hashtag {
    color: $purple;
    padding-right: .25rem;
    text-decoration: underline;
    display: inline-block;
    direction: ltr;
}

.hashtag::before {
    font-size: 1.1em;
    font-weight: bold;
    content: "#";
}

[dir="rtl"] .hashtag {
    padding-right: 0 !important;
    padding-left: .25rem;
}

// Cards
.card {
    .date {
        position: absolute;
        top: 20px;
        right: 20px;
        z-index: 1;
        background: $danger;
        width: 55px;
        height: 55px;
        padding: 12.5px 0;
        -webkit-border-radius: 100%;
        -moz-border-radius: 100%;
        border-radius: 100%;
        color: $white;
        font-weight: 700;
        text-align: center;
        -webkti-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box; 
       .day {
            font-size: 1rem;
            line-height:1;
            }
            .month {
            font-size: .6875rem;
            text-transform: uppercase;
            }
        }
    a:hover {text-decoration:none; color: $primary;}
}
    
.card-pricing .card ul li {
    margin-bottom:1.5rem;
}

// Icons
.iconbox {       
    border:1px solid;        
    text-align:center;
    display:inline-block;
}
.iconbox.iconsmall {
        width:40px;
        height:40px;       
        line-height:40px;
        font-size:1rem;
    }
.iconbox.iconmedium {
        width:60px;
        height:60px;       
        line-height:60px;
        font-size:1.8rem;
    }
 .iconbox.iconlarge {
        width:80px;
        height:80px;       
        line-height:80px;
        font-size:2.2rem;
    }

// Lists

ul.list-unstyled li {margin-bottom:.3rem;}
ol.list-featured {
    counter-reset: my-awesome-counter;
    list-style: none;
    padding-left:0;
    padding-right: 0;
}
ol.list-featured li {
  counter-increment: my-awesome-counter;
  display: flex;
  font-size: 0.8rem;
}
ol.list-featured li:before {
  content: "0" counter(my-awesome-counter);
  font-weight: bold;
  font-size: 2.7rem;
  margin-right: 0.5rem;
  font-family: 'Abril Fatface', serif;
  line-height: 1;
}

[dir="rtl"] ol.list-featured li:before {
    content: "۰" counter(my-awesome-counter, persian);
    font-family: $font-family-IRANSansDN;
    margin-right: 0;
    margin-left: .5rem;
}

// Login

@include media-breakpoint-up(md) {
    .loginarea {
        z-index: 1111;
    }
}

// Article
article {
  line-height: 2rem;

  p, pre, figure, img, blockquote, iframed, embed {
    margin-bottom: 1rem;
  }

  blockquote {        
    padding-left:40px;
    margin-left:0px;
    font-style:italic;
    position:relative;
  }
  
  blockquote:before {
    content: "“";
    font-family: Georgia;
    font-size: 8rem;
    margin: -1rem 2rem 0 -3.9rem;
    position: absolute;
    opacity: 1;
    float: left;
    line-height: 1;
  }

  .image {
    text-align: center;

    figcaption {
      background-color: #f7f7f7;
      caption-side: bottom;
      color: #333;
      display: block;
      font-size: .75em;
      outline-offset: -1px;
      padding: .6em;
      word-break: break-word;
    }
  }
}

[dir="rtl"] article {
    font-family: $font-family-IRANSansDN;

    blockquote:before {
        font-family: $font-family-IRANSansDN;
    }
}

.spanborder {    
    border-bottom: 1px solid $lightblue;
    margin-bottom:2rem;
}
.spanborder span {
    border-bottom: 1px solid rgba(0,0,0,.44);
    display: inline-block;
    padding-bottom: 20px;
    margin-bottom: -1px;
}

 .a2a_default_style .a2a_svg {
        border-radius:50% !important;
        margin-top:.5rem;
        margin-left:auto;
        margin-right:auto;
    }
@include media-breakpoint-down(lg) {
    .display-4 {font-size:35px;}
}
@include media-breakpoint-down(md) {
    .display-4 {font-size:25px;}
}
@include media-breakpoint-up(lg) {
    .a2a_default_style a {
        display:block !important;
        float:none !important;
    }
    .a2a_default_style .a2a_svg {
        border-radius:50% !important;
        display:block !important;
        float:none !important;
        margin-top:.5rem;
        margin-left:auto;
        margin-right:auto;
    }
    .a2a_svg {
        height: 40px !important;
        line-height: 40px !important;
        width: 40px !important;
    }
}
// Footer
footer.bg-black {
    color: $gray-600;
    a {
        color: $gray-600;
        &:hover {
            text-decoration:none;
            color: $white;
        }
    }
}
