name: Frontend CI and CD
on:
  push:
    branches:
      - main
    paths:
      - .github/**
      - frontend/**
  pull_request:
    paths:
      - .github/**
      - frontend/**

env:
  REGISTRY: ghcr.io
  IMAGE_NAME: frontend

jobs:
  ci:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - uses: actions/setup-node@v3
        with:
          node-version: "18"

      - name: Provide image name and version
        run: |
          IMAGE_ID=$(echo $REGISTRY/${{ github.repository_owner }}/$IMAGE_NAME | tr '[A-Z]' '[a-z]')
          IMAGE_VERSION=${{ github.sha }}
          echo "IMAGE_ID=$IMAGE_ID" >> "$GITHUB_ENV"
          echo "IMAGE_VERSION=$IMAGE_VERSION" >> "$GITHUB_ENV"

      - name: Build image
        run: |
          cd ./frontend && docker build . --file Dockerfile --target production --tag $IMAGE_ID:$IMAGE_VERSION

  cd:
    runs-on: ubuntu-latest

    # This job will be invoked only on default branch
    if: ${{ always() && format('refs/heads/{0}', github.event.repository.default_branch) == github.ref }}

    permissions:
      packages: write
      contents: read

    needs:
      - ci

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Provide image name and version
        run: |
          IMAGE_ID=$(echo $REGISTRY/${{ github.repository_owner }}/$IMAGE_NAME | tr '[A-Z]' '[a-z]')
          IMAGE_VERSION=${{ github.sha }}
          echo "IMAGE_ID=$IMAGE_ID" >> "$GITHUB_ENV"
          echo "IMAGE_VERSION=$IMAGE_VERSION" >> "$GITHUB_ENV"

      - name: Build image
        run: |
          cd ./frontend && docker build . --file Dockerfile --target production --tag $IMAGE_ID:$IMAGE_VERSION

      - name: Log in to registry
        run: echo "${{ secrets.GITHUB_TOKEN }}" | docker login ghcr.io -u ${{ github.actor }} --password-stdin

      - name: Push image
        run: |
          docker push $IMAGE_ID:$IMAGE_VERSION

      - uses: actions/setup-node@v3
        with:
          node-version: "18"

      - name: deploy to production
        env:
          LIARA_TOKEN: ${{ secrets.LIARA_API_TOKEN }}
          LIARA_FRONTEND_APP_NAME: ${{secrets.LIARA_FRONTEND_APP_NAME}}
        run: |
          npm i -g @liara/cli@7
          liara deploy --image $IMAGE_ID:$IMAGE_VERSION --platform=docker --port="3000" --app="$LIARA_FRONTEND_APP_NAME" --api-token="$LIARA_TOKEN" --detach
